:root {
    --primary: rgb(216, 60, 112)
}

* {
    background-color: rgb(76, 100, 124);
}

.main-header h1 {
    color: var(--primary);
    text-align: center;
    padding: 25px;
    font-size: 30px;
}

.main-header p {
    color: white;
    text-align: center;
    padding: 0px 400px;
}

.snippet {
        flex: 1 0 200px;
        padding: 10px;
        text-align: center;
        border-style: dashed;
        border-width: 1px;

}